
# Dependencies
node_modules
/functions/node_modules
package-lock.json

# Next.js
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
key.json
service-account.json

# IDE
.idx/
.vscode/
.idea/
*.swp
*.bak

# Build output
dist
build
